{{#*inline "soundPartial"}}
    <li class="sound flexrow {{sound.css}}" data-playlist-id="{{sound.playlistId}}" data-sound-id="{{sound._id}}">
        <h4 class="sound-name">{{sound.name}}</h4>
        <div class="sound-controls flexrow">
            {{#if @root.user.isGM}}
                <a class="sound-control {{#unless sound.repeat}}inactive{{/unless}} {{sound.controlCSS}}"
                   data-action="sound-repeat" data-tooltip="{{localize 'PLAYLIST.SoundLoop'}}">
                    <i class="fas fa-sync"></i>
                </a>
            {{/if}}

            {{#if sound.playing}}
                <a class="sound-control {{sound.controlCSS}}" data-action="sound-stop" data-tooltip="{{localize 'PLAYLIST.SoundStop'}}">
                    <i class="{{sound.playIcon}}"></i>
                </a>
            {{else}}
                <a class="sound-control {{sound.controlCSS}}" data-action="sound-play" data-tooltip="{{localize sound.playTitle}}">
                    <i class="{{sound.playIcon}}"></i>
                </a>
            {{/if}}
        </div>

        {{#if playback}}
            <div class="sound-playback flexrow">
                <div class="sound-timer">
                    <span class="current">{{sound.currentTime}}</span>
                    <span class="sep">/</span>
                    <span class="duration">{{sound.durationTime}}</span>
                </div>
                <i class="volume-icon fas fa-volume-down"></i>
                <input class="sound-volume" type="range"
                       value="{{sound.lvolume}}" min="0" max="1" step="0.05" data-tooltip="{{sound.volumeTooltip}}"/>
                <a class="sound-control pause {{sound.controlCSS}} {{#if sound.isPaused}}disabled{{/if}}" data-action="sound-pause" data-tooltip="{{localize 'PLAYLIST.SoundPause'}}">
                    <i class="{{sound.pauseIcon}}"></i>
                </a>
            </div>
        {{/if}}
    </li>
{{/inline}}

{{#*inline "playingPartial"}}

    <div id="currently-playing" class="global-control flexrow {{currentlyPlaying.class}}">
        <header class="playlist-header flexrow">
            <h4>{{localize "PLAYLIST.CurrentlyPlaying"}}</h4>
            {{#if @root.user.isGM}}
            <a class="enchantmentcontrol" data-action="playlist-backward" data-tooltip="PLAYLISTENCHANTMENT.CONTROL.previous">
                <i class="fas fa-backward"></i>
            </a>            
            <a class="enchantmentcontrol" data-action="stop" data-tooltip="PLAYLISTENCHANTMENT.CONTROL.stop">
                <i class="fas fa-stop"></i>
            </a>
            <a class="enchantmentcontrol" data-action="play" data-tooltip="PLAYLISTENCHANTMENT.CONTROL.play">
                <i class="fas fa-play"></i>
            </a>
            <a style="margin-right:20px;" data-action="playlist-forward" class="enchantmentcontrol" data-tooltip="PLAYLISTENCHANTMENT.CONTROL.next">
                <i class="fas fa-forward"></i>
            </a>
            {{/if}}
            <a class="pin" data-tooltip="{{localize currentlyPlaying.pin.label}}">
                <i class="fas fa-caret-{{currentlyPlaying.pin.caret}}"></i>
            </a>
        </header>
        <ol class="playlist-sounds">
            {{#if showPlaying}}
            {{#each playingSounds as |sound|}}
                {{> soundPartial sound=sound playback=true}}
            {{/each}}
            {{else}}
            <li>
                -
            </li>
            {{/if}}
        </ol>
    </div>
{{/inline}}

<section class="{{cssClass}} directory flexcol" id="{{cssId}}" data-tab="{{tabName}}">

    <!-- Directory Header -->
    <header class="directory-header">
        <div class="header-actions action-buttons flexrow">
            {{#if canCreateEntry}}
            <button class="create-document create-entry"><i class="{{sidebarIcon}}"></i> {{localize 'SIDEBAR.Create' type=label}}</button>
            {{/if}}
            {{#if canCreateFolder }}
            <button class="create-folder"><i class="{{folderIcon}}"></i> {{localize 'FOLDER.Create'}}</button>
            {{/if}}
        </div>
        <div class="header-search flexrow">
            <a class="header-control toggle-search-mode" aria-label="{{localize searchTooltip}}" role="button" data-tooltip="{{localize searchTooltip}}"><i class="fas {{searchIcon}}"></i></a>
            <input type="search" name="search" value="" placeholder="{{localize 'SIDEBAR.Search' types=labelPlural }}" autocomplete="off"/>
            <a class="header-control toggle-sort" aria-label="{{localize sortTooltip}}" role="button" data-tooltip="{{localize sortTooltip}}"><i class="fa-solid {{sortIcon}}"></i></a>
            <a class="header-control collapse-all" aria-label="{{localize 'FOLDER.Collapse'}}" role="button" data-tooltip="FOLDER.Collapse"><i class="fa-duotone fa-folder-tree"></i></a>
        </div>
    </header>

    <div id="global-volume" class="global-control flexrow {{#unless volumeExpanded}}collapsed{{/unless}}">
        <header class="playlist-header flexrow">
            <h4>{{localize "PLAYLIST.GlobalVolume"}} <i class="collapse fa fa-angle-{{#if volumeExpanded}}down{{else}}up{{/if}}"></i></h4>
        </header>
        <ol class="playlist-sounds">
            <li class="sound flexrow" data-tooltip="{{localize 'PLAYLIST.PlaylistVolumeTooltip'}}">
                <h4>{{localize "PLAYLIST.VolPlaylist"}}</h4>
                <i class="volume-icon fas fa-volume-down"></i>
                <input aria-label="{{localize 'PLAYLIST.VolPlaylist'}}" class="global-volume-slider" name="globalPlaylistVolume" type="range" min="0" max="1" step="0.05" value="{{playlistModifier}}" data-tooltip="{{playlistTooltip}}"/>
            </li>
            <li class="sound flexrow" data-tooltip="{{localize 'PLAYLIST.AmbientVolumeTooltip'}}">
                <h4>{{localize "PLAYLIST.VolAmbient"}}</h4>
                <i class="volume-icon fas fa-volume-down"></i>
                <input aria-label="{{localize 'PLAYLIST.VolAmbient'}}" class="global-volume-slider" name="globalAmbientVolume" type="range" min="0" max="1" step="0.05" value="{{ambientModifier}}" data-tooltip="{{ambientTooltip}}"/>
            </li>
            <li class="sound flexrow" data-tooltip="{{localize 'PLAYLIST.InterfaceVolumeTooltip'}}">
                <h4>{{localize "PLAYLIST.VolInterface"}}</h4>
                <i class="volume-icon fas fa-volume-down"></i>
                <input aria-label="{{localize 'PLAYLIST.VolInterface'}}" class="global-volume-slider" name="globalInterfaceVolume" type="range" min="0" max="1" step="0.05" value="{{interfaceModifier}}" data-tooltip="{{interfaceTooltip}}"/>
            </li>
            {{#if @root.user.isGM}}
            <li class="sound flexrow" data-tooltip="{{localize 'PLAYLISTENCHANTMENT.Normalize'}}">
                <h4>{{localize "PLAYLISTENCHANTMENT.VolNormalize"}}</h4>
                <i class="volume-icon fas fa-volume-down"></i>
                <div style="flex: 2" class="flexrow">
                    <input data-volume="true" aria-label="{{localize 'PLAYLISTENCHANTMENT.VolNormalize'}}" class="enchantment-volume-slider" name="normalizeModifier" type="range" min="0" max="1" step="0.05" value="{{normalizeModifier}}" data-tooltip="{{normalizeTooltip}}"/>
                    <input type="checkbox" class="enchanment-checkbox" name="normalize" value="true" {{checked enchantment.normalize}}/>
                </div>                
            </li>
            <li class="sound flexrow" data-tooltip="{{localize 'PLAYLISTENCHANTMENT.Fade'}}">
                <h4>{{localize "PLAYLISTENCHANTMENT.VolFade"}}</h4>
                <i class="volume-icon fas fa-volume-down"></i>
                <div style="flex: 2" class="flexrow">
                    <input data-unit="ms" aria-label="{{localize 'PLAYLISTENCHANTMENT.VolFade'}}" class="enchantment-volume-slider" name="fadeModifier" type="range" min="0" max="10000" step="50" value="{{enchantment.fadeModifier}}" data-tooltip="{{fadeTooltip}}"/>
                    <input type="checkbox" class="enchanment-checkbox" name="alwaysFade" value="true" {{checked enchantment.alwaysFade}}/>
                </div>
            </li>
            {{/if}}
        </ol>
    </div>

    {{#if currentlyPlaying.location.top}}
        {{> playingPartial}}
    {{/if}}

    <!-- Directories List -->
	<ol class="directory-list">
        {{~#each tree.children}}
        {{> (lookup @root "folderPartial") node=this folder=this.folder}}
        {{/each}}
        {{#each tree.entries}}
        {{> (lookup @root "entryPartial")}}
        {{/each~}}
	</ol>

    {{#if currentlyPlaying.location.bottom}}
        {{> playingPartial}}
    {{/if}}

	<!-- Directory Footer -->
	<footer class="directory-footer"></footer>
</section>

