$playingColor: rgba(30, 143, 255, 0.35);

#playlists {
    #currently-playing {
        .playing {
            background-color: $playingColor;
            border-radius: 5px;
        }
    }

    .sound.playing {
        background-color: $playingColor;
        color: white;
        border-radius: 5px;
    }

    .playlist-header {
            gap:0;
    }

    .enchantmentcontrol {
        flex: none;
        margin-right: 10px;
        font-size: 16px;
        color: var(--color-light-2);

        &:hover {
            text-shadow: 0 0 5px var(--color-light-2);
        }
    }

    .sound:hover {
        background-color: rgba(0, 0, 0, 0.9);
        color: var(--color-light-2);

        button {
            color: var(--color-light-2);
        }
    }

    .sound-control.soundrepeating {
        &.fa-toggle-on {
            color: #036d03;
        }
    }

    .enchanment-checkbox {
        flex-grow: 0;
    }
}

.enchantmentplaylisttooltip {
    position: fixed;
    width: 270px;
    z-index: 100 !important;
    --color-text-primary: white;
    background: rgba(0, 0, 0, 0.75);

    .macroName {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        background-color: black;
        padding: 2px;
        padding-bottom: 8px;
        height: 26px;
    }

    h4 {
        margin: 0;

        &.sound-name {
            color: rgba(255, 255, 255, 0.774);
        }
    }

    .sound-timer {
        color: var(--color-light-2);
    }

    .configuration {
        display: flex;
        flex-direction: row;

        background-color: rgba(0, 0, 0, 0.4);
        padding: 4px;

        h4 {
            flex: 1;
        }

        a {
            flex: 0;
            font-size: 20px;
            margin-right: 8px;
        }
    }
}

.marquee {
    overflow: hidden;
    position: relative;
    height: 20px;
}

.marquee label {
    position: absolute;
    width: 100%;
    height: 20px;
    margin: 0;
    text-align: center;
    white-space: nowrap;

    -moz-animation: advertisingloop 5s linear infinite;
    -webkit-animation: advertisingloop 5s linear infinite;
    animation: advertisingloop 5s linear infinite;
}

@keyframes advertisingloop {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-110%);
    }

    50.1% {
        transform: translateX(110%);
    }

    100% {
        transform: translateX(0);
    }
}

.dark-theme {
    .enchantmentplaylisttooltip{

    }
}

.light-theme {

}